div.tiptap p.is-editor-empty.is-empty:first-child::before {
  color: var(--color-gray-400);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  animation:
    typing 1s steps(40, end),
    cursor .5s step-end infinite;
}